//COLOR PALLET
$Green1: #1abc9c;
$Green2: #2ecc71;
$Green3: #16a085;
$Green4: #27ae60;
$Blue1: #3498db;
$Blue2: #2980b9;
$Blue3: #0039a6;
$Pink1: #9b59b6;
$Pink2: #8e44ad;
$DarkGray1: #34495e;
$DarkGray2: #2c3e50;
$Yellow1: #f1c40f;
$Orange1: #f39c12;
$Orange2: #e67e22;
$Orange3: #d35400;
$Red1: #e74c3c;
$Red2: #c0392b;
$White1: #ecf0f1;
$White2: #bdc3c7;
$Gray1: #95a5a6;
$Gray2: #7f8c8d